@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  overflow: hidden;
}

.text-shadow {
  text-shadow: 1px 1px 2px var(--tw-shadow-color);
}

.nav-item {
  position: relative;
  cursor: pointer;
  transition: color 0.3s ease-in-out;
}

.nav-item:hover {
  color: #ffffff;
}

.nav-item::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0;
  height: 2px;
  background-color: #ffffff;
  transition: width 0.3s ease-in-out;
}

.nav-item:hover::after {
  width: 100%;
}

@keyframes fadeInOut {
  0%,
  100% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}

.animate-fadeInOut {
  animation: fadeInOut 8s infinite;
}
